$primary-color: hsl(0, 76%, 43%);
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #333333;
  line-height: 1.6;
}

.footer ul {
  list-style-type: none;
    padding: 0;
  margin-left: 0;

  /* Make the list horizontal */
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;

  /* Optional: center them horizontally */
  justify-content: center;
}
.footer ul li a {
  color: hwb(0 7% 92%);
  text-decoration: none;
  font-weight: bold;

  
}
