@use "variables" as *;

body {
  font-family: 'Arial', sans-serif;
  background-color: $secondary-color;
  color: $secondary-text-color;
  line-height: 1.6;
}

// Variabler (du kan ändra dessa lätt)
.footer {
 
  background-color: $primary-color;
  color: $secondary-text-color;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  p { 
    color: $secondary-text-color;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 0;
    margin: 0;
  }
  
  //responsiv design för footer
  @media (max-width: 768px) {
    padding: 2rem 1rem;
    gap: 1.5rem;
  }

  // Footer-länkar
  .footer-links a {
    color: $secondary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;

    &:hover {
      color: $accent-color;
    }
  }
.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }
  // Sociala medier ikoner
  .social-links img {
    width: 25px;
    height: auto;
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease;
    

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  // Sponsorloggor
  .sponsor-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1.5rem;
    width: 100%;
   img {
    width: 25px;
    height: auto;
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease;
    

    &:hover {
      transform: scale(1.05);
      opacity: 1;
    }
  }
  }
}