// Här lägger vi in våra mixins för att återanvända kod
// Mixins: Layout, knappar, responsivitet, animationer – alltså **funktionella kodblock** EX flexbox
@use "variables" as *;

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin button {
    background-color: $primary-color;
    color: $text-color;
    font-family: $font-family;
    border: none;
    border-radius: $radius;
    padding: 0.8rem 1.2rem;

    &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
        cursor: pointer;
    }
}