// här lägger vi in våra variabler det vill säga färger, fonter och storlekar
// Variabler: Färger, typsnitt, spacing, border-radius – alltså **design**
$primary-color: #A2A79E;
$secondary-color: #f6b6cb;
$text-color: #ebeaea;
$dark-color: #510b02;
$font-family: 'arial', helvetica;
$radius: 0.6rem;
$primary-color: #4A90E2;
$secondary-color: #50E3C2;
