// här lägger vi in våra variabler det vill säga färger, fonter och storlekar
// Variabler: Färger, typsnitt, spacing, border-radius – alltså **design**
$primary-color: #A2A79E;
$secondary-color: #ebeaea;
$text-color: #f8f8f8;
$secondary-text-color: #131b23;
$dark-color: #510b02;
$font-family: 'arial', helvetica;
$radius: 0.6rem;

// menu
$menu-breakpoint: 768px;
$menu-bg: #333;
$menu-color: #f8f8f8;
$transition: 0.3s ease;

