@use "variables" as *;
@use "mixins" as *;
@use "footer" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {

    @include menu;

    img {
        max-height: 50px;

    }
}

.main-sections {
    @include flexbox;
    flex-direction: row;
    

 text-align: center;
}

main {
    position: relative;
    display: inline-block;

    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem 2rem;
        border-radius: $radius;
    }
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


